.clear {
  height: 50px;
  width: 100%;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.base-class {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.base-class.my-class {
  color: red;
  font-size:3em;
}

.symbols {
  height: 50px;
  color: red;
}

.frame {
  border: 1px dotted;
}

.favoritecolor {
  font-size: 100px;
  color: yellow;
  background-color: black;
  width: 100%;
}

.rightnow {
  font-size: 100px;
  color: blue;
  background-color: black;
  width: 100%;
}
